.ColumnContainer {
    margin: 0 auto;
    font-size: .75rem;
    width: max(80ch, 90%);
    // background-color: cornflowerblue;

    &__heading {
        max-height: 3.5ch;
        margin: 0 auto;
        padding-bottom: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-variant: small-caps;
        font-weight: bold;
        border-top: 1px solid #000;
        background-image: $gradient1;
        // background-color: cornflowerblue;
    }

    >article {
        // width: 100%;
        padding-bottom: 5px;
        // text-justify: center;
        text-align: justify;
        // background-color: cornflowerblue;

        .DropCap::first-letter {
            float: left;
            font-size: 2em;
            margin: 0 .1em 0 0;
            line-height: 0.85;
        }

        p {
            // background-color: cornflowerblue;
            text-justify: center;

            dfn {
                background-image: $gradient1;
                // background-color: $secondary-color ;
            }
        }


        ul {
            list-style: none;
            // background-color: cornflowerblue;

            > li {
                font-size: 100%;

                // background-color: cornflowerblue;
                >details {
                    display: block;
                    width: 90%;
                    padding-bottom: 5px;
                    margin-left: 0;
                    ;
                    text-align: justify;
                    // background-color: cornflowerblue;

                    >summary {
                        padding-bottom: 5px;
                        background-image: gradient1;
                    }
                }
            }
        }
    }
}

.WideContainer {
    width: 90%;
    margin: 0 auto;
}