.ColumnContainer {
    width: 100%;
    height: 80vh;
    columns: 65ch, 3;
    column-fill: auto;
    column-gap: 5px;
    font-size: .75rem;
    // background-color: cornflowerblue;

    .box {
        display: block;
        // border: solid 1px;
        // background-color: cornflowerblue;
    }

    &__heading {
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-variant: small-caps;
        font-weight: bold;
        background-image: $gradient1;
        // background-color: cornflowerblue;
    }

    article {
        grid-column: 1;
        width: 100%;
        padding-bottom: 5px;
        // text-justify: center;
        text-align: justify;

        // border: 1px solid;
        // background-color: cornflowerblue;
        .DropCap::first-letter {
            float: left;
            font-size: 1.5em;
            margin: 0 .1em 0 0;
            // line-height: 0.85;
        }

        p {
            // background-color: cornflowerblue;
            text-justify: center;

            dfn {
                background-image: $gradient1;
                // background-color: $secondary-color ;
            }
        }


        ul {
            list-style: none;
            // background-color: cornflowerblue;
            
            li {
                font-size: 100%;
                // background-color: cornflowerblue;
                details {
                    display: block;
                    width: 90%;
                    padding-bottom: 5px;
                    margin-left: 0;;
                    text-align: justify;
                    // background-color: cornflowerblue;

                    summary {
                        padding-bottom: 5px;
                        background-image: gradient1;
                    }
                }
            }
        }
    }
}