$primary-color: #122030;
$text-color: #f4f2e9;
$secondary-color: #4282a7;
$gradient1: linear-gradient(90deg,
    hsl(240deg 36% 17%) 0%,
    hsl(275deg 50% 26%) 50%,
    hsl(306deg 100% 27%) 100%);
;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@mixin transition-ease {
  transition: all .3s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return $text-color;
  }

  @else {
    @return $text-color; //rgb(203, 198, 69);
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}