.grid-body {
    width: 90%;
    // height:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 10px;
    // font-size: 1rem;
    margin: 0 auto;
    // background-color: dodgerblue;
}

.grid-item {
    display: block;
    // border: 1px solid cadetblue;
    // background-color: beige;

    &__title {
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        font-variant: small-caps;
        padding-bottom: 2px;
        padding-top: 10px;
        margin: 1em;
        ;
        // background-color: aqua;
        // border-bottom: 1px;
    }

    p {
        font-size: 1.2rem;
    }
}

.topic {
    min-height: 10vh;
    margin: 0 auto;
    // background-color: $secondary-color;
    // background-color: darkmagenta;
    border: 1px solid black;
    box-shadow: 7px 7px darken($primary-color, 5);
    ;
    cursor: pointer;
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 10px;

    &__heading {
        grid-area: 1, 1, 1, 1;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.5rem;
        font-variant: small-caps;
        // background-color: chocolate;
    }

    &__soundbite {
        grid-area: 2, 1, 1, 1;
        min-height: 2rem;
        font-size: 1rem;
        padding-bottom: 5px;
        padding-left: 1.5em;
        padding-right: 5px;
        // background-color: blue;
    }

    &__img-box {
        grid-area: 1 / 2 / span 2 / span 1;
        height: 100%;
        // background-color: rgb(255, 255, 255);
        // background-color: rgb(212, 30, 30);
    }

    &__img {
        width: 100%;
        max-height: 100%;
        background-color: rgb(255, 255, 255);
    }

    &:hover {
        background-image: linear-gradient(55deg,
                hsl(240deg 36% 17%) 0%,
                hsl(251deg 41% 20%) 21%,
                hsl(263deg 45% 24%) 37%,
                hsl(275deg 50% 26%) 50%,
                hsl(287deg 57% 27%) 61%,
                hsl(298deg 68% 28%) 75%,
                hsl(306deg 100% 27%) 100%);
        // background-color: lighten($primary-color, 10);
        // height: 24vh;
        transition: all .25s ease-in-out;
    }

}

.return {
    background-color: lighten(crimson, 20);
    display: block;
    margin-left: 5px;
    width: 100px;
    color: white;
    font-size: 1.1em;

    &:hover {
        background-color: crimson;
        @include transition-ease;
    }
}

.elevatorSpeech {
    display: block;
    display: none;
    color: $text-color;
    background-color: chartreuse;
    width: 100vw;
    margin: auto;
}

.speechBody {
    // width: 100%;
    display: none;
    position: absolute;
    // top: 20vh;
    background-color: black;
}

.ElSpeech {
    // background: blue;
    position: relative;
    width: 100%;
    display: flexbox;
    font-size: .75em;
    // height:10vh;
    // display: none;
    // grid-template-columns: repeat(auto, minmax(384px, 1fr));
    // grid-gap: 5px;

    &__topic {
        // width: 90%;
        // height: 20vh;
        margin: auto;
        // border: 1px solid;
        border-radius: 5px;
        // display: block;
        // margin-bottom: 20px;
        // height:100%;
        // background-color: chocolate
    }
}

.speech {
    // display: grid;
    // display: flex;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    // border: 1px solid;
    // height: 85%;
    // background-color: $secondary-color;
    // transition: all 3s ease-in-out;
    animation-duration: .2s;
    animation-name: speecht;
    // border: 1px solid red;
    // grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    // grid-template-columns: 1;
    // grid-gap: 10px;

    // column-count: 2;;
    &#st {
        border: none;
        background-color: $primary-color;
        ;
    }

    &__title {
        font-size: 150%;
        margin: .5em;

        // background-color: lightseagreen;
    }

    p {
        font-size: 90%;
    }

    &__body {
        grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    }

    &__topic {
        display: flex;
        font-size: 12px;
        // min-height: 1rem;
        // margin: 0 auto;
        border: 1px solid;
        border-radius: 5px;
        // padding-bottom: 5px;
        // background-color: chocolate
    }

    .sh1 {
        // grid-area: 1 / 1 / span 1 / span 2;
        width: 100%;
        text-align: center;
        font-size: 150%;
        padding-bottom: 5px;
        // border: 1px solid red;
    }
}

@keyframes speecht {
    0% {
        width: 80%;
        height: 12vh;
        color: $secondary-color;
        // color: black;
        margin-top: 2em;
        margin: auto;
        display: hidden;
    }

    99% {
        color: $secondary-color;
    }

    100% {
        // display: flex;
        color: $text-color;
        width: 100%;
        height: 84vh;
        margin-top: 0em;
    }
}

.end-button {
    position: absolute;
    // position: sticky;
    grid-area: 2 / 2;
    column-span: all;
    bottom: 10px;
    height: 10vh;
    width: 10vh;
    background-color: lighten($secondary-color, 20);
    // display: block;
    margin: 0 auto;
    // width: 200px;
    color: white;
    border: 2px solid lighten($primary-color, 75);
    font-size: 2em;
    border-radius: 50%;

    &:hover {
        background-color: $secondary-color;
        @include transition-ease;
    }
}