.grid-container {
    width: 95%;
    display: grid;
    // justify-content: space-around;
    // grid-auto-flow: dense row;
    grid-template-columns: 1fr;
    // column-gap: 2rem;
    // justify-content: left;
    // align-content: space-between;
    margin: 0 auto;
    // background-color: dodgerblue;
}

.grid-item {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: $primary-color;

    &__title {
        // width: 100%;
        font-size: 2rem;
        font-weight: 700;
        font-variant: small-caps;
        padding-bottom: 2px;
        padding-top: 10px;
        // margin-left: 1rem;
        margin: 0 auto;
        color: $accent-color;
        // background-color: aqua;
        // border-bottom: 1px;
    }

    >p {
        font-size: 1.2rem;
    }
}

.topic {
    width: 100%;
    display: grid;
    grid-template: 
        "title   image" 35px
        "sb      image" 65px
        /1fr 100px;
    // height: auto;
    width: 100%;
    margin: 0 auto;
    // background-color:hsl(207, 44%, 29%);
    // background-color: darkmagenta;
    box-shadow: 2px 2px 2px #0000008e;
    cursor: pointer;
    margin-bottom: 10px;

    &__heading {
        grid-area: title;
        // padding-bottom: 5px;
        padding-top: 3px;
        padding-left: 1em;
        font-size: 1.5rem;
        font-variant: small-caps;
        font-weight: 800;
        color: $highlight-color;
        // background-color: chocolate;
    }

    &__soundbite {
        grid-area: sb;
        font-size: 1rem;
        padding-bottom: 5px;
        padding-left: 1.5em;
        padding-right: 5px;
        // text-align: justify;
        // background-color: blue;
        p {
            margin-left: 1rem;
            line-height: .75;
            // background-color: blue;
            
        }
        .topic__img{
            margin-top: auto;
            margin-bottom: auto;
            grid-area: image;
            max-width: 100%;
            background-color: white;;
            object-fit: cover;
        }
        }

    &:hover {
        background-image: $gradient1;
    }

}

.return {
    background-color: lighten(crimson, 20);
    display: block;
    margin-left: 5px;
    width: 100px;
    color: white;
    font-size: 1.1em;

    &:hover {
        background-color: crimson;
        @include transition-ease;
    }
}

@keyframes speecht {
    0% {
        width: 80%;
        height: 12vh;
        color: $secondary-color;
        // color: black;
        margin-top: 2em;
        margin: auto;
        display: hidden;
    }

    99% {
        color: $secondary-color;
    }

    100% {
        // display: flex;
        color: $text-color;
        width: 100%;
        height: 84vh;
        margin-top: 0em;
    }
}