.GridContainer {
    // height: 50vh;
    // width: 100%;
    // display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    // grid-gap: 5px;
    columns: 65ch, 3;
    column-fill: auto;
    padding-top: 5px;
    margin: 0 auto;
    // background-color: dodgerblue;
}

.GridElement {
    display: flex;
    padding-top: 10px;
    min-height: 1rem;
    // font-size: 100%;
    // background-color: dodgerblue;

    p {
        font-size: 1rem;
        // border: 1px solid red;
    }

    &__details {
        min-height: 1rem;

        summary {
            font-size: 150%;
            padding-bottom: 5px;
            border-bottom: 1px solid;
            // background-color: dodgerblue;
            background-image: $gradient1;
        }
    }

    dl {
        padding-top: 10px;
        // background-color: dodgerblue;
    }

    dt {
        font-size: 130%;
        font-weight: bold;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    dd {
        font-size: 110%;
        padding-bottom: 5px;
        padding-left: 2em;
        // background-color: cornflowerblue;
    }
}