.site {
    display: grid;
    grid-template:
        "hdr       hdr" 63px
        "nav      content" calc(100vh - 123px) 
        "foot     foot" 60px
        /0 1fr;
    background-color: $primary-color;

    .header {
        grid-area: hdr;
        position: fixed;
        position: sticky;
        display: grid;
        grid-template:
        "bgr title" 1fr
        "bgr   subtitle" 1fr
        /3rem 1fr;
        width: 100%;
        line-height: 1;
        color: $text-color;
        background-image: $gradient1;
        border-bottom: 3px solid  $accent-color;
        // background-color: $primary-color;
        &__bgr {
            position: sticky;
            grid-area: bgr;
            width: 1rem;
            font-size: 30px;
            margin: auto;
            // color: $accent-color;
            cursor: pointer;
        }
        
        &__title {
            grid-area: title;
            font-size: 1.5rem;
            font-weight: bold;
            font-variant: small-caps;
            text-align: center;
            letter-spacing: 10px;
            // background-color: aqua;
        }
        
        &__subtitle {
            grid-area: subtitle;
            padding-left: 10px;
            margin: 0 auto;
            text-align: center;
            text-justify: center;
            font-size: .75rem;
            letter-spacing: 3px;
            border-bottom: 3px $accent-color;
            // background-color:aquamarine;
        }
    }

    .sidenav {
        grid-area: nav;
        // border: 1px solid  rgb(200, 19, 19) 
    }

    ;

    .content {
        position: static;
        position: sticky;
        overflow-y: scroll;
        overflow-x: hidden;
        grid-area: content;
        color: $text-color;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid  rgb(200, 19, 19) 
    }

    .foot {
        grid-area: foot;
        background-color: $primary-color;
        position: fixed;
        position: sticky;
        width: 100%;
        display: grid;
        grid-template:
            "button  copyr" 
            / 1fr  16rem;
        height: 60px;
        bottom: 0rem;
        text-align: center;
        padding: 1rem;
        color: set-text-color($primary-color);
        // background-color: rgb(19, 67, 200) 
    }
    .footButton{
        grid-area: button;
    }
    
    .footCR{grid-area: copyr;}
    // background-color: rgb(19, 67, 200) 
}

.sidenav {
    // position: static;
    // z-index: 1;
    top: 0;
    left: 0;
    // background-color: $secondary-color;
    background: $gradientv;
    overflow-x: hidden;
    transition: .25s;
    text-align: center;
    // border: 1px solid red;
}

.sidenav a {
    color: white;
    padding: 2px 2px 1px 2px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: .3s;
}

.sidenav a:hover {
    // color: #f1f1f1;
    color: $accent-color;
}

.sidenav .closebtn {
    position: relative;
    font-size: 24px;
}

.roadmap{
    padding-top: 5px;

    >details.roadmap{
        width: 95%;
        font-size: 1 rem;
    }
    >summary{
        font-size: 1.5rem;
        list-style: none;
    }
}

.wideGrid{
    width: 400%;
    color: $primary-color;
    background-color: $text-color;
    box-shadow: 2px 2px 2px #0000008e;
    // p{
    //     box-shadow: 2px 2px 2px #0000008e;
    // }
}