<<<<<<< HEAD
.tool-topic {
    min-height: 10vh;
    display: flexbox;
    width:90%;
    margin: auto;
    background-color: $secondary-color;
    // background-color: darkmagenta;
    border: 1px solid;
    // border: 1px solid cadetblue;
    margin-bottom: 10px;

    &__heading {
        display: block;
        // float: left;
        width: 15%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 1em;
        padding-right: 1em;
        font-variant: small-caps;
        // background-color: chocolate;
    }

    &__body {
        padding-bottom: 5px;
        // float: left;
        width: 85%;
        padding-left: 1.5em;
        padding-right: 5px;
        // background-color: blue;

    }

    &__img-box {
        display: block;
        // border: 1px solid;
        float: right;
        max-width: 15%;
        height: 100%;
        // background-color: rgb(255, 255, 255);
        // background-color: rgb(212, 30, 30);
    }
}
=======
.tool-topic {
    min-height: 10vh;
    display: flexbox;
    width:90%;
    margin: auto;
    background-color: $secondary-color;
    // background-color: darkmagenta;
    border: 1px solid;
    // border: 1px solid cadetblue;
    margin-bottom: 10px;

    &__heading {
        display: block;
        // float: left;
        width: 15%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 1em;
        padding-right: 1em;
        font-variant: small-caps;
        // background-color: chocolate;
    }

    &__body {
        padding-bottom: 5px;
        // float: left;
        width: 85%;
        padding-left: 1.5em;
        padding-right: 5px;
        // background-color: blue;

    }

    &__img-box {
        display: block;
        // border: 1px solid;
        float: right;
        max-width: 15%;
        height: 100%;
        // background-color: rgb(255, 255, 255);
        // background-color: rgb(212, 30, 30);
    }
}
>>>>>>> 79959929c4b90d6c61c777da47016134c8801fa7
