@import 'config';
@import 'home';
@import 'elevator';
@import 'ColumnLayout';
@import 'responsive';

.column_layout {
    width: 100%;
    font-size: .5rem;
    line-height: 1.25;
    display: grid;
    grid-template-columns: 0 1fr;
    padding-top: 6rem;
    // background-color: dodgerblue;
}

details {
    font-size: 1rem;
    margin-left: 2em;
    cursor: pointer;
    width: min(80ch, 90%);
    margin: 0 auto;
    // background-color: cadetblue;

    >summary {
        font-size: 1.25rem;
        background-image: $gradient1;
    }

    >dl {
        // background-color: aqua;

        >dt {
            font-size: 1.25rem;
            padding-left: 5px;
        }

        >dt::before {
            content: "---";
        }

        >dd {
            width: 90%;
            font-size: 1rem;
            padding-left: 5px;
            width: min(80ch, 90%);
            margin: 0 auto;
            background-color: $secondary-color;
        }
    }
}

.intro {
    font-size: 1rem;

    a {
        // color: complement($text-color);
        color: red;
    }
}

.disclaimer {
    color: rgb(242, 245, 88);
    font-size: 1rem;
    padding-top: 10px;
    // background-color: dodgerblue;
}

h2,
h3 {
    font-weight: 400;
    // background-color: coral;
}

a {
    // color: set-text-color($primary-color);
    color: lighten(crimson, 20);
    // text-decoration: none;
    font-size: 1em;
    // background-color: red;

    :hover {
        // color: set-text-color(red);
        color: crimson;
        background-color: blue;
        ;
    }
}

p {
    font-size: 1.25em;
    text-align: justify;
    padding-bottom: .5em;
    margin-left: 2em;
    margin-right: 2em;
    // background-color: blue;
}

.list {
    font-size: 1.25em;
    width: min(80ch, 90%);
    margin: 0 auto;
    // background-color:cornflowerblue;
}

.highlight {
    font-size: larger;
    font-style: italic;
    color: rgb(159, 183, 235);
}

table,
th,
td {
    // border: 1px solid rgb(52, 72, 223);
    border: 1px solid $text-color;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    font-size: 1.5rem;
    background-image: $gradient1;
}

td {
    font-size: 1.1rem;
    padding-left: 5px;
}

caption {
    background-color: $text-color;
    color: $primary-color;
    text-align: center;
    font-size: 2rem;font-weight: 700;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 5px;
}

// caption::before {
//     content: "=> ";
// }

//3D button ------------------------

.pushable {
    position: relative;
    position: sticky;
    grid-area: 2 / 2;
    bottom: 15px;
    // height: 10vh;
    // width: 10vh;
    margin: 0 auto;
    border: none;
    background: transparent;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    // position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    // background: hsl(0deg 0% 0% / 0.25);
    background-color: rgb(25, 13, 34);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    // position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(225deg 50% 5%) 0%,
            hsl(225deg 50% 16%) 8%,
            hsl(225deg 50% 16%) 92%,
            hsl(225deg 50% 5%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    // background: hsl(345deg 100% 47%);
    // background: hsl(225deg 50% 25%);
    background-color: rgba(79, 30, 117, 0.976);
    background-image: $gradient1;
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}