---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Design Reviews">
    <main id="myContent" class="content">
    
        <div class="ColumnContainer">
            <div class="ColumnContainer__heading">--- Design Reviews ---</div>
            <article>
                <p class="DropCap">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </article>
        </div>
    </main>
</Layout>