---
import Layout from "../layouts/Layout.astro";
// import card-simple-simple from "../components/card-simple.astro";
---

<Layout title="Glossary">
    <main id="myContent" class="content">
        <h1>--- Glossary of terms ---</h1>
        <div class="deck-container">

            <div class="deck">
                <h1>General Engineering</h1>
                <div class="card-simple">
                    <div class="title">Robust Design</div>
                    <div class="text DropCap">A design that provides the intended functions, in stated conditions, for
                        the specified time, in the presence of noise.</div>
                </div>
                <div class="card-simple">
                    <div class="title">Functional Requirement</div>
                    <div class="text DropCap">Functionality a product must deliver to satisfy customer needs.</div>
                </div>
                <div class="card-simple">
                    <div class="title">Verification Test</div>
                    <div class="text DropCap">Testing done to ensure a product meets customer's requirements.</div>
                </div>
                <div class="card-simple">
                    <div class="title">Development Test</div>
                    <div class="text DropCap">Testing done to explore the design space in order to understand
                        limits and relationships.
                    </div>
                </div>
                <div class="card-simple">
                    <div class="title">Critical Parameter Management</div>
                    <div class=" text DropCap">A process for ensuring parameters that are critical to product performane
                        are clearly defined and accounted for.</div>
                </div>
                <div class="card-simple">
                    <div class=" title">NUD</div>
                    <div class=" text DropCap">Requirements that are " NEW, UNIQUE, AND DIFFICULT" and therefore warrent
                        additional time and attention to detail to prevent quality escapes.</div>
                </div>
                <div class="card-simple">
                    <div class="title">DFMEA</div>
                    <div class="text DropCap">Design Failure Modes and Effects Analysis - a process for identification
                        of potential failure modes and methods for mitigation.</div>
                </div>
            </div>
            <div class="deck">
                <h1>Statistics</h1>
                <div class="card-simple">
                    <div class="title">Normality</div>
                    <div class="text DropCap">The property that determines how well a set of data fits a normal
                        distribution. Knowing this aids in selecting the best statistical tools for further analysis.
                    </div>
                </div>
                <div class="card-simple">
                    <div class=" title">P value</div>
                    <div class="text DropCap">The probability that a null hypothesis has been satisfied and therefore
                        cannot be rejected.</div>
                </div>
                <div class="card-simple">
                    <div class=" title">Model</div>
                    <div class="text DropCap">A fabrication intended to predict output parameters based on input
                        parameters. Used regularly in development as an analytical tool that can be used in lieu of
                        physical testing.</div>
                </div>
                <div class="card-simple">
                    <div class="title">Mean</div>
                    <div class="text DropCap">The statistical property that describes the central tendancy of a data set
                        (assumed to be normally distributed). Usually thought of as the " avarage".</div>
                </div>
                <div class="card-simple">
                    <div class="title">Median</div>
                    <div class="text DropCap">The statistical property that describes the central tendancy of a
                        data set (assumed not to be normally distributed).</div>
                </div>
                <div class="card-simple">
                    <div class="title">Standard deviation</div>
                    <div class="text DropCap">The statistical property that describes the spread of a data set (assumed
                        to be normally distributed). The simbol σ is used to designate standard deviation. Calculated as
                        the square root of the variance. One nice property of σ is that the unit of measure for σ is the
                        same as that of the data in the set and is therefor more intuitive.</div>
                </div>
                <div class="card-simple">
                    <div class="title">Variance</div>
                    <div class="text DropCap">The average of the squared difference from the mean of a data set. One
                        nice property of variance is that they can be summed across data sets to determine vafriance for
                        the sum of the sets.</div>
                </div>
            </div>
            <div class="deck">
                <h1>Reliability</h1>
                <div class="card-simple">
                    <div class="title">Stress/Strength relationship</div>
                    <div class="text DropCap">A property that can be used to evaluate reliability based on product
                        strengths (generally measured) against stresses applied in teh field (generally assumed).</div>
                </div>
                <div class="card-simple">
                    <div class="title">Failure Mode</div>
                    <div class="text DropCap">A way that a product or part can fail in the field. Quality escapes can be reduced by early identification and mitigation of failure modes.</div>
                </div>
                <div class="card-simple">
                    <div class="title">Failure Site</div>
                    <div class="text DropCap">The spicific design feature whare a known failure mode occurs in a
                        product or part. These should be clearly identified and maintained in DFMEAs.</div>
                </div>
            </div>
        </div>
    </main>
</Layout>